:root{
    --backgroundGradientVeryLight: hsl(13, 100%, 72%, 0.9);
    --backgroundGradientLight: hsl(353, 100%, 62%, 0.9);
    --backgroundLightDark: hsl(207, 13%, 34%);
    --textColor: white;
    --headingColor: hsl(208, 49%, 24%);
    --footerColor: hsl(240, 2%, 79%);
    --bgFooter: hsl(240, 10%, 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper{
    background:  linear-gradient(var(--backgroundGradientVeryLight), var(--backgroundGradientLight)), url('images//bg-pattern-intro.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right 65%;
    border-radius: 0 0 0 5rem;
}

.navbar-brand{
    font-size: 1.5rem !important;
}

.navbar-toggler:active, .navbar-toggler:focus{
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler-icon{
    background: url('images/icon-hamburger.svg') no-repeat center / cover !important;
}

.navbar-collapse{
    background-color: white !important;
}

.dropdown-toggle{
    position: relative;
}

.dropdown-toggle::after{
    color: var(--backgroundGradientVeryLight) !important;
    transform: rotate(0);
}

.dropdown-toggle:active::after, .dropdown-toggle:focus::after{
    transform: rotate(180deg);
}

.dropdown-menu{
    background-color: lightgray !important;
    color: var(--headingColor) !important;
}

.jumbotron{
    height: 75vh;
}

.title1{
    width: 80%;
}

.startBtn{
    background-color: white !important;
    color: var(--backgroundGradientLight) !important;
}

.startBtn:hover{
    background-color: var(--backgroundGradientLight) !important;
    color: white !important;
}

.moreBtn{
    background: transparent !important;
    border-color: white !important;
    color: white !important;
}

.moreBtn:hover{
    background-color: white !important;
    color: var(--backgroundGradientLight) !important;
}

.nextSection{
    height: 15vh;
}

.sectionThree{
    height: 75vh;
    position: relative;
}

.bgRow1, .bgRow2{
    height: 65%;
}

.bgRow1{
    background: url('images/illustration-phones.svg') no-repeat center / contain;
    background-position: top 4rem;
    z-index: 1;
}

.bgRow2{
    background: url('images/bg-pattern-circles.svg') var(--backgroundLightDark) no-repeat center / 130%;
    background-position-y: top -15rem;
    z-index: -1;
    position: absolute;
    top: 10rem;
    width: 100%;
    border-radius: 0 2rem 0 2rem;
}

.subHeading{
    color: var(--headingColor) !important;
}

.footer{
    background-color: var(--bgFooter);
    border-radius: 0 5rem 0 0;
}

.footerUL{
    list-style: none;
    padding: 0;
    color: var(--footerColor);
}

@media only screen and (min-width: 600px){
    .bgRow2{
        background-size: 100%;
    }
}

@media only screen and (min-width: 976px){
    .title1{
        width: 100%;
    }

    .secondSectionRow{
        flex-direction: row-reverse;
    }

    .btnRow{
        align-content: flex-start !important;
    }

    .bgRow1{
        background-position-x: left;
    }
    
    .bgRow2{
        background-size: 65%;
        background-position-x: left calc(-30rem + 20vw);
        background-position-y: top calc(-15rem + 15vh);
    }

    .bgRow2 .col-12{
        position: absolute;
        top: 8rem;
        right: 0;
        width: 60%;
    }

    .bgRow2 h4{
        width: 100% !important;
    }

    .navbar-collapse{
        background: transparent !important;
    }

    .nav-link{
        color: white !important;
    }

    .dropdown-toggle::after{
        color: white !important;
    }
}


/* url('images//bg-pattern-intro.svg') no-repeat center / cover */