:root{
    --backgroundGradientVeryLight: hsl(13, 100%, 72%, 0.9);
    --backgroundGradientLight: hsl(353, 100%, 62%, 0.9);
    --textColor: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper{
    background:  linear-gradient(var(--backgroundGradientVeryLight), var(--backgroundGradientLight)), url('images//bg-pattern-intro.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 0 right 70%;
    border-radius: 0 0 0 6rem;
}


.jumbotron{
    height: 75vh;
}

/* url('images//bg-pattern-intro.svg') no-repeat center / cover */